@charset "UTF-8";
/* CSS Document */
body {
	font: 100%/1.4;
	font-family: Arial, Helvetica, sans-serif;
	background: white;
	margin: 0;
	padding: 0;
	color: rgba(0,0,0,1);
}

.headerMain {
	width: 100%;
	height: 120px;
	border-bottom: solid #666 1px;
	}
	

.header{
	width: 950px;
	margin: 0 auto;
	padding: 1px;
	padding-top: 10px;
	}

.header:before, .header:after {content:""; display:table;}
.header:after {clear:both;}

.logo{
	float: left;
	padding-top: 8px;
	}
	
.logoImage {
	float: center;
	}
	
.name {
	float: left;
	color: #999;
	font-family: 'Quicksand', cursive;
	font-size: 44px;
	padding-left: 20px;
	padding-top: 15px;
	cursor:default;
	}

.nav {
float: right;
margin: 0px auto;
position:relative;
z-index: 100;}

.nav:before, .nav:after {content:""; display: table;
}
.nav:after {clear:both;}

.ulnav { text-decoration:none;
margin: 0px auto;
	}

.linav {
	text-decoration: none;
	float: left;
	font-size: 16px;
	display: inline-block;
	text-align:center;
	padding: 0px 10px;
	}

.linav a { text-decoration: none; 
			color: #999;
			display: block;
			padding: 5px 5px;
			background: rgba(0,0,0,0);
			text-align:center;
			}

.linav a:hover {padding:5px 5px;
		background-color: cadetblue;
		color: white;

}

.main{
	color: black;
	width: 960px;
	background: white;

	margin: 0 auto;
	padding-top: 5px;
	margin-bottom: 5px;
	height: 1050px;
	}

.heading{
	font-weight: bold;
	font-size: 20px;
	text-align:center;
	color:#70BEFF;
	padding-right: 70px;
}

.heading a {
	color:#008080;
	text-decoration: none;
}

.head{
	font-weight: bold;
	font-size: 16px;
	color: cadetblue;
	display:inline-block;
	padding-left: 180px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;    
    border: none;
    outline: none;
    color: #999;
    padding: 5px 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: inherit;
    text-align:center;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: cadetblue; color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.BackImage{ 
	padding-top: 0px;
    width: 100%;
    height: auto;
    opacity: 1;
}

.center {
    position: absolute;
    left: 400px;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color:black;
}

.textBoxes{ padding-top: 1px;margin-top: 10px; height: 6500px; background-color: white; line-height: 1.5; padding-bottom: 1px}	
.textBox1{ padding-top: 1px;width: 100%; text-align: justify; font-size: 14px;line-height: 1.5;}

.head:hover {
    color: red;
    text-decoration: underline;
}


.aboutme{
	float:center; 
	color:#CD5C5C;
	padding-top: 120px;font-size: 20px;
	}

.resInt{
 	padding-left: 10px;
	text-align: justify; font-size: 14px;
	
}
    
.resIntText{
	float:center; font-size: 13px
	width: 80%;
	padding-bottom: 1px
	}
	
.resIntImage {
	padding-top: 1px;
	padding-bottom: 1px;
    margin: auto;
    width: 50%;
    opacity: 1;
	}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: darkgreen; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


.footer {
	width: 100%;
	height: 50px;
	border-top: solid #666 1px;
	}
	
.footerContent{
	width: 960px;
	margin: 0 auto;
	padding: 5px;
	padding-top: 10px;
	font-size: 12px;
	color: #999;
	}
	
.footerLeft {
	float: left;
	}
	
.footerRight {
	float: right;
	}
